# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production build
dist/
build/

# Capacitor
/android/.gradle
/android/.idea
/android/app/build
/android/build
/android/local.properties
/android/*.iml
/ios/App/build
/ios/App/Pods

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
